In [3]:
import pandas as pd
import numpy as np

In [4]:
hist=pd.read_csv("data/archive/ETFs/spy.us.txt")

            Date    Open    High     Low   Close    Volume  OpenInt
0     2005-02-25  104.77  106.00  104.68  105.79  70221808        0
1     2005-02-28  105.55  105.68  104.56  105.08  79695344        0
2     2005-03-01  105.22  105.87  105.22  105.62  54607412        0
3     2005-03-02  105.21  106.22  105.10  105.57  73733090        0
4     2005-03-03  105.99  106.20  105.15  105.61  71286823        0
...          ...     ...     ...     ...     ...       ...      ...
3196  2017-11-06  258.30  259.00  258.22  258.85  49529148        0
3197  2017-11-07  258.97  259.35  258.11  258.67  57218448        0
3198  2017-11-08  258.47  259.22  258.15  259.11  50277699        0
3199  2017-11-09  257.73  258.39  256.36  258.17  94537282        0
3200  2017-11-10  257.73  258.21  257.37  258.09  59862364        0

[3201 rows x 7 columns]